[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/narayanjarange92
[access "refs/for/refs/*"]
	read = group user/narayanjarange92
	push = group user/narayanjarange92
	label-Code-Review = -2..+2 group user/narayanjarange92
	label-Verified = -1..+1 group user/narayanjarange92
	rebase = group user/narayanjarange92
	removeReviewer = group user/narayanjarange92
	submit = group user/narayanjarange92
[access "refs/heads/*"]
	read = group user/narayanjarange92
	create = group user/narayanjarange92
	push = +force group user/narayanjarange92
	pushMerge = group user/narayanjarange92
[access "refs/tags/*"]
	push = +force group user/narayanjarange92
	pushTag = group user/narayanjarange92
	pushSignedTag = group user/narayanjarange92
